/* --- Root Variables --- */
:root {
  --primary-color: cadetblue;
  --secondary-color: rgb(48, 85, 87);
  ;
  --text-color: #333;
  --light-bg: #f8f9fa;
  --border-color: #ddd;
  --font-size-base: 1rem;
  --font-size-large: 1.2rem;
  --font-size-h1: 2.5rem;
  --font-size-h2: 1.8rem;
}

div#root {
  width: -webkit-fill-available;
}