/*
skill.css
*/

/* Skill Section */
.skill-section {
  padding: 50px;
  background-color: #fafafa;
}

.skill-section h4 {
  margin-bottom: 10px;
  font-size: 22px;
}

.skill-section p {
  color: #666;
}